<div class="mb-4">
  <div class="card">
    <div class="card text-white bg-success"></div>

    <div class="card-header">
      <strong>Recursos Didacticos</strong>
    </div>
    <div class="card text-white bg-success"></div>
    <div class="card-body form-horizontal">

      <!--/.row-->
      <div class="form-group row">
        <label class="col-form-label col-md-3 font-weight-bold" for="select1">Tipo de Material</label>
        <div>
          <select [(ngModel)]="material.tipoMaterial" name="tipoMaterial" id="select1" name="select1"
            class="form-control" [value]="material.tipoMaterial.nombre">

            <option *ngFor="let tipoMaterial of tiposMaterial" [selected]="tiposMaterial[0].id" [value]="tipoMaterial.id"> {{tipoMaterial.nombre}}
            </option>

          </select>
        </div>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label font-weight-bold">Material</label>
        <textarea id="textarea-input" name="nombre" rows="3" class="form-control col-md-8" [(ngModel)]="material.nombre"
          placeholder="Contenido"></textarea>
      </div>
      <div class="form-group row">
        <label class="col-md-3 col-form-label font-weight-bold">Descripción</label>
        <textarea id="textarea-input" name="descripcion" rows="3" class="form-control col-md-8"
          [(ngModel)]="material.descripcion" placeholder="Contenido"></textarea>
      </div>
    </div>

    <div class="form-group row">
      <label class="col-md-3 col-form-label"></label>

      <div class="col-md-3 mb-3">
        <button type="button" (click)="crearMaterial()" class="btn btn-success">Crear</button>
      </div>

    </div>

    <table class="table table-sm">
      <thead>
        <tr>
          <th>Tipo de Material</th>
          <th>Material</th>
          <th>Descripcion</th>
          <th>Eliminar</th>
        </tr>
      </thead>
      <tbody *ngIf="materiales">
        <tr *ngFor="let material of materiales">
          <td *ngIf="material.tipoMaterial">{{material.tipoMaterial.nombre}}</td>
          <td>{{material.nombre}}</td>
          <td>{{material.descripcion}}</td>
          <td>
            <div class="form-group row">
              <div class="form-check">
                <input class="form-check-input"
                       type="checkbox" name="isChecked" id="check" value=""
                       (change)="ingresarIdParaEliminar(material.id, $event.target.checked)"/>
                <label class="form-check-label" for="check">
                </label>
              </div>
            </div>
          </td>
        </tr>

      </tbody>
    </table>
    <div class="form-group row">
      <label class="col-md-9 col-form-label"></label>

      <div class="col-md-3 mb-3">
        <button type="button" (click)="eliminarMateriales()" class="btn btn-danger">Borrar</button>
      </div>
    </div>
    <div class="card">
      <div class="card text-white bg-success"></div>
      <div class="card-header">


        <strong>Estrategias Metodologicas</strong>
        
      </div>
      
      <div class="card text-white bg-success"></div>
      <div class="card-body">

        <div class="form-group row">
          <label class="col-md-3 font-weight-bold" for="name">Estrategia</label>
          <div class="col-md-8">
            <textarea [(ngModel)]="estrategiaMetodologica.nombre" id="textarea-input" name="nombre" rows="3"
              class="form-control" placeholder="Contenido"></textarea>
          </div>
          
          
        </div>
        <div class="form-group row">
          <label class="col-md-3 font-weight-bold" for="name">Descripción</label>
          <div class="col-md-8">
            <textarea [(ngModel)]="estrategiaMetodologica.descripcion" id="textarea-input" name="descripcion" rows="3"
              class="form-control" placeholder="Contenido"></textarea>
          </div>
          
        </div>
        

        <div class="form-group row">
          <label class="col-md-3 font-weight-bold" for="name">Finalidad</label>
          <div class="col-md-8">
            <textarea [(ngModel)]="finalidad.nombre" id="textarea-input" name="nombre" rows="3" class="form-control"
              placeholder="Contenido"></textarea>
          </div>
          </div>

        <div class="form-group row">
          <label class="col-md-3 col-form-label"></label>

          <div class="col-md-3 mb-3">
            <button type="button" (click)="crearEstrategia()" class="btn btn-success">Crear</button>
          </div>

        </div>


        <table class="table table-sm">
          <thead>
            <tr>
              <th>Estrategia Metodológica</th>

              <th>Finalidad</th>
              <th>Eliminar</th>
            </tr>
          </thead>
          <tbody>

            <tr *ngFor="let finalidad of finalidades">
              <td>{{finalidad.estrategiaMetodologica.nombre}}</td>
              <td>{{finalidad.nombre}}</td>
              <td>
                <div class="form-group row">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" name="radios" id="radio1" (change)="ingresarFinalidadParaEliminar(finalidad, $event.target.checked)" value="">
                    <label class="form-check-label" for="radio1"></label>
                  </div>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
        <div class="form-group row">
          <label class="col-md-9 col-form-label"></label>
    
          <div class="col-md-3 mb-3">
            <button type="button" (click)="eliminarFinalidades()" class="btn btn-danger">Borrar</button>
          </div>
        </div>
        <ngx-spinner></ngx-spinner>