<div class="app-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card border-info">
            <div class="card p-4">
              <div class="card-body">
                <form >
                  <h1>Crear Sílabo</h1>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label font-weight-bold" for="name">Asignatura</label>
                    <div class="col-md-9">
                      <select class="form-control">
                        <option class ="font-weight-bold">Seleccione Asignatura</option>
                        <option *ngFor="let asignatura of asignaturas" [value]="asignatura.id" (click)="onSelect(asignatura)">{{asignatura.nombre}}</option>
                      </select>
                    </div>
                  </div>                  
                </form>
              </div>
            </div>
          </div>
        </div>        
        <div class="col-md-6 mx-auto">
          <div class="card border-info">
            <div class="card p-4">
              <div class="card-body">
                <form >
                  <h1>Clonar Sílabo</h1>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label font-weight-bold" for="anteriores">Anteriores</label>
                    <div class="col-md-9">
                      <select class="form-control" >
                        <option class ="font-weight-bold">Seleccione Silabo</option>
                        <option *ngFor="let silabo of silabos">{{silabo.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-6">
                      <button type="button" class="btn btn-success px-4">Clonar Silabo</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>
<div *ngIf="idSeleccionado">
  <div><span>id: </span>{{idSeleccionado}}</div>
</div>


<br>

<div class="container" *ngIf="asignatura">
  <div class="form-group row justify-content-center">
    <label class="col-md-3 col-form-label" for="text-input">Codigo</label>
    <div class="col-md-4">
      <input type="text" required id="text-input" [(ngModel)]="asignatura.codigo" name="text-input" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label class="col-md-3 col-form-label" for="text-input">Período lectivo</label>
    <div class="col-md-4">
      <input type="text" required id="text-input" [(ngModel)]="asignatura.periodoLectivo" name="text-input" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label class="col-md-3 col-form-label" for="text-input">Unidad de organización curricular</label>
    <div class="col-md-4">
      <input type="text" required id="text-input" [(ngModel)]="asignatura.unidadOrganizacionCurricular" name="text-input" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label class="col-md-3 col-form-label" for="text-input">Campo de formación:</label>
    <div class="col-md-4">
      <input type="text" required id="text-input" [(ngModel)]="asignatura.campoFormacion" name="text-input" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label class="col-md-3 col-form-label" for="text-input">Horas de docencia:</label>
    <div class="col-md-4">
      <input type="text" required id="text-input" [(ngModel)]="asignatura.totalHorasDocencia" name="text-input" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label class="col-md-3 col-form-label" for="text-input">Horas de trabajo autónomo:</label>
    <div class="col-md-4">
      <input type="text" required id="text-input" [(ngModel)]="asignatura.totalHorasAutonomas" name="text-input" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label class="col-md-3 col-form-label" for="text-input">Horas de prácticas de aprendizaje:</label>
    <div class="col-md-4">
      <input type="text" required id="text-input" [(ngModel)]="asignatura.totalHorasPracticasAprendizaje" name="text-input" class="form-control" readonly>
    </div>
  </div>

  <div class="form-group row justify-content-center">
    <label class="col-md-3 col-form-label" for="text-input">N° total de horas:</label>
    <div class="col-md-4">
      <input type="text" required id="text-input" [(ngModel)]="asignatura.numeroTotalHoras" name="text-input" class="form-control" readonly>
    </div>
  </div>
</div>

<div class="row" *ngIf="idSeleccionado">
  <!--/.col-->
    <div class="card border-success col-sm-5 mr-1" >
      <div class="card-header">
        <strong>Prerrequisitos de la Asignatura</strong>
      </div>
      <div class="card-body">
        <table class="table table-sm" class="row-border hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Codigo</th>
            </tr>
          </thead>    
          <tbody>
            <tr *ngIf="prerequisito">
              <td>{{ prerequisito.id }}</td>
              <td>{{ prerequisito.nombre }}</td>
              <td>{{ prerequisito.codigo }}</td>
            </tr>
          </tbody>
        </table>           
      </div>
    </div>
    <div class="card border-success col-sm-6">
      <div class="card-header">
        <strong>Correquisitos de la Asignatura</strong>
      </div>
      <div class="card-body">
        <table table class="table table-sm" class="row-border hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Codigo</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngIf="correquisito" >
              <td>{{ correquisito.id }}</td>
              <td>{{ correquisito.nombre }}</td>
              <td>{{ correquisito.codigo }}</td>
            </tr>
          </tbody>
        </table>      
      </div>
    </div>
</div>
<div class="row justify-content-end">
  <div class="col-md-3 mb-3">
    <button type="button" (click)="crearSilabo()" class="btn btn-success">Crear</button>
  </div>
</div>