<div class="app-body">
    <div class="container">
      <div class="row">
        <div class="col-md-6 mx-auto">
          <div class="card border-info">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="asignaturasForm" (ngSubmit)="onSubmit()">
                  <h1>Crear Sílabo</h1>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label font-weight-bold" for="name">Asignatura</label>
                    <div class="col-md-9">
                      <select>
                        <option class ="font-weight-bold">Seleccione Asignatura</option>
                        <option *ngFor="let asignatura of asignaturas ">{{asignatura.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-md-6">
                      <button type="button" class="btn btn-success px-4" (click)="Crear()">Crear Vacio</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
        <div class="col-md-6 mx-auto">
          <div class="card border-info">
            <div class="card p-4">
              <div class="card-body">
                <form [formGroup]="allAsignaturasForm" (ngSubmit)="onSubmit()">
                  <h1>Clonar Sílabo</h1>
                  <div class="form-group row">
                    <label class="col-md-3 col-form-label font-weight-bold" for="anteriores">Anteriores</label>
                    <div class="col-md-9">
                      <select formControlName="allAsignatura">
                        <option class ="font-weight-bold">Seleccione Asignatura</option>
                        <option *ngFor="let allAsignatura of allAsignaturas">{{allAsignatura.nombre}}</option>
                      </select>
                    </div>
                  </div>
                  <div class="row">
                    <div class="col-md-3"></div>
                    <div class="col-6">
                      <button type="button" class="btn btn-success px-4">Clonar Silabo</button>
                    </div>
                  </div>
                </form>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
</div>

<br>
<div class="row">
  <div class="col-sm-6">
    <div class="card border-success">
      <div class="card-header">
        <strong>Prerrequisitos de la Asignatura</strong>
      </div>
      <div class="card-body">
        <table class="table table-sm" class="row-border hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Codigo</th>
              <th>Horas</th>
            </tr>
          </thead>    
          <tbody>
            <tr *ngFor="let prerrequisito of prerrequisitos.prerrequisitos">
              <td>{{ prerrequisito.id }}</td>
              <td>{{ prerrequisito.nombre }}</td>
              <td>{{ prerrequisito.codigo }}</td>
              <td>{{ prerrequisito.totalHoras }}</td>
            </tr>
          </tbody>
        </table>           
      </div>
    </div>
  </div>
  <!--/.col-->
  <div class="col-sm-6">
    <div class="card border-success">
      <div class="card-header">
        <strong>Correquisitos de la Asignatura</strong>
      </div>
      <div class="card-body">
        <table table class="table table-sm" class="row-border hover">
          <thead>
            <tr>
              <th>ID</th>
              <th>Nombre</th>
              <th>Codigo</th>
              <th>Horas</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let correquisito of correquisitos.correquisitos">
              <td>{{ correquisito.id }}</td>
              <td>{{ correquisito.nombre }}</td>
              <td>{{ correquisito.codigo }}</td>
              <td>{{ correquisito.totalHoras }}</td>
            </tr>
          </tbody>
        </table>      
      </div>
    </div>
  </div>
</div>