<div class="row justify-content-center">
  <nav aria-label="...">
    <ul class="pagination">
      <li class="page-item">
        <a class="page-link" routerLink="/crear-silabo" tabindex="-1">Atrás</a>
      </li>
      <li class="page-item">
        <a class="page-link" routerLink="/crear-silabo">Crear Sílabo</a>
      </li>
      <li class="page-item active">
        <a routerLink="/descripcion-objetivos" class="page-link">Objetivos</a>
      </li>
      <li class="page-item">
        <a routerLink="/resultado-aprendizaje-asignatura" class="page-link">Resultados</a>
      </li>
      <li class="page-item">
        <a routerLink="/contenido-asignatura" class="page-link">Contenido</a>
      </li>
      <li class="page-item">
        <a routerLink="/estrategias-recursos" class="page-link">Estrategias y Recursos</a>
      </li>
      <li class="page-item">
        <a routerLink="/resultado-aprendizaje-asignatura" class="page-link">Siguiente</a>
      </li>
    </ul>
  </nav>
</div>

<div class="card">
  <div class="card-header">
    <strong>Descripción De La Asignatura</strong>
  
  </div>
  <div class="card-body">
    <div class="form-group row">
      <div class="col-md-9">
        <textarea required *ngIf="silabo" id="textarea-input" [(ngModel)]="silabo.descripcionAsignatura" name="descripcionAsignatura" rows="5" class="form-control" placeholder="Contenido..">
        </textarea>

      </div>
    </div>

  </div>
  <!--/.row-->
  
</div>
<div class="card">
  <div class="card-header">
    <strong>Objetivos De La Asignatura</strong>
  </div>
  <div class="card-body">
    <div class="form-group row">
      <div class="col-md-9">
        <textarea *ngIf="silabo" required id="textarea-input" [(ngModel)]="silabo.objetivoAsignatura" name="objetivoAsignatura" rows="3" class="form-control">          
        </textarea>
      </div>
    </div>
  </div>
  <!--/.row-->
</div>
<div class="row justify-content-end">
  <div class="col-md-3 mb-3">
    <button type="button" (click)="actualizarDescpripcionSilabo()" class="btn btn-success">Actualizar</button>
  </div>
</div>
