<div class="card">
<div class="card-body">
    

<strong>Relación de la asignatura con los resultados de aprendizaje del perfil de egreso de la carrera</strong>


    
    
        <table  BORDER=1 WIDTH=800 HEIGHT=200>
           
        
            <tr>
                <td>Nª</td>
                <td>Resultados de Aprendizaje del Perfil de Egreso de la Carrera</td>
                <td>Contribución</td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
            <tr>
                
                <td></td>
                <td></td>
                <td>
                <select name="select">
                <option value="value1">Value 1</option> 
                <option value="value2" selected>Value 2</option>
                <option value="value3">Value 3</option>
                </select>
            </td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            <tr>
                <td></td>
                <td></td>
                <td></td>
            </tr>
            
        
        </table>
       
   
    <div class="form-group row">
    <label class="col-md-10 col-form-label"></label>
    <div class="col-md-8 mb-12"></div>
    <button type="button" (click)="x" class="btn btn-success">Guardar</button>
  
  
