<div class="row">
    <div class="card col-md-7 col-sm-7">
        <div class="card-header">
            Resultados de Aprendizaje de Asignatura
        </div>
        <div class="card-body">
            <div>
                <div class="row">
                    <div class="tree col-8">
                        <tree-root #arbol (activate)="seleccionarNodo($event)" (moveNode)="onMoveNode($event)"
                            [nodes]="datos"
                            [options]="options">
                            <ng-template #treeNodeTemplate let-node let-index="index">
                                <span>{{ node.data.nombre }}</span>
                            </ng-template>
                        </tree-root>
                    </div>
                    <div *ngIf="esSubProceso > 1" class="col-4">
                        <strong><p>Resultados:</p></strong>
                        <ul class="list-group" *ngIf="resultados"> <!-- *ngIf si existen resultados -->
                            <li *ngFor="let resultado of resultados" class="list-group-item">  {{resultado.nombre}}   <!-- interpolacion y colocar clase "list-group-item" -->  <!-- *ngFor por cada resultado -->
                                &nbsp;<button class="badge badge-pill badge-danger">&times;</button>
                            </li>
                        </ul>
                    </div>
                </div>
                
                <script src="../../../assets/DragDropTouch.js"></script>
              
                    <strong class="col-md-3"><p>Evidencia</p></strong>
                    <textarea id="textarea-input" name="textarea-input" rows="4" class="form-control"
                    placeholder="contenido"><!-- Interpolacion de evidencia --></textarea>
                    <div> <!-- *ngIf si existe evidencia -->
                    <div class="col-md-12">
                       
                    </div>
                    
                </div>
                <button class="btn btn-success px-4">Listo</button>
            </div>
            
        </div>
    </div>

    <div bsModal #modal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title"> Creación de proceso raíz </h4>
                    <button type="button" class="close" (click)="alCrearOCancelar()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (submit)="crearRaiz()">

                        <div class="form-group">
                            <input type="text" name="name" [(ngModel)]="proceso.nombre" class="form-control"
                                placeholder="Nombre del Proceso" autofocus>
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Crear
                        </button>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="alCrearOCancelar()">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->


    <div bsModal #procesoModal="bs-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="myModalLabel"
        aria-hidden="true">
        <div class="modal-dialog modal-primary" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 *ngIf="esSubProceso <= 1" class="modal-title"> Creación de sub-proceso </h4>
                    <h4 *ngIf="esSubProceso > 1" class="modal-title"> Creación de resultado </h4>
                    <button type="button" class="close" (click)="alCrearOCancelar()" aria-label="Close">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <form (submit)="crearProceso()">
                        <h6 class="modal-title" *ngIf="actualProceso"> Dentro de proceso: {{ actualProceso.nombre }} </h6>
                        <br>
                        <div class="form-group">
                            <input [ngModel]="esSubProceso > 1 ? resultado.nombre : proceso.nombre"
                            (ngModelChange)="esSubProceso > 1 ? (resultado.nombre = $event) : (proceso.nombre = $event)"
                                type="text" name="name" 
                                class="form-control"
                                [placeholder]="esSubProceso > 1 ? 'Nombre del Resultado' : 'Nombre del Sub-Proceso'" autofocus>
                            
                        </div>
                        <button type="submit" class="btn btn-primary btn-block">
                            Crear
                        </button>

                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" (click)="alCrearOCancelar()">Cancelar</button>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->



    <div class="col-md-1 col-sm-3">
        <div class="mt-2 mb-3 mb-xl-0">
            <button data-toggle="modal" (click)="modal.show()" type="button" class="btn btn-block btn-primary"><i
                    class="fa fa-plus-square"></i><span><br>Raíz</span></button>
        </div>
        <div class="mt-2 mb-3 mb-xl-0">
            <button [disabled]="!(_servicio.actualProcesoId)" data-toggle="modal" (click)="getProceso()" (click)="procesoModal.show()" type="button" class="btn btn-block btn-success align-items-center"><i
                    class="fa fa-plus"></i></button>
        </div>
        
        <div class="mt-2 mb-3 mb-xl-0">
            <button type="button" (click)="eliminarProceso()" [disabled]="!(_servicio.actualProcesoId)" class="btn btn-block btn-danger"><i class="fa fa-close" ></i><br><span>Borrar</span></button>
        </div>
        
    </div>
    
</div>
<div class="row justify-content-end">
    <div class="mx-2 mt-2 mb-3 mb-xl-0">
        <button type="button" class="btn btn-success px-4">Atrás</button>
    </div>
    
    <div class="mx-2 mt-2 mb-3 mb-xl-0 ">
        <button type="button" class="btn btn-success px-4">Siguiente</button>
    </div>
</div>