<div class="row">
    <div class="card col-md-7 col-sm-7">
        <div class="card-header">
          Resultados de Aprendizaje de Asignatura
        </div>
        <div class="card-body">
            <div >
                <app-arbol-contenido [nodos]="datos"></app-arbol-contenido>
                <script src="../../../assets/DragDropTouch.js"></script>
            </div>
        </div>
    </div>
    <div class="col-md-1 col-sm-3">
        <div class="mt-2 mb-3 mb-xl-0">
            <button (click)="agregarRaiz()" type="button" class="btn btn-block btn-primary"><i class="fa fa-plus-square"></i><span><br>Raíz</span></button>
        </div>
        <div class="mt-2 mb-3 mb-xl-0">
            <button (click)="agregarProceso()" type="button" class="btn btn-block btn-success align-items-center"><i class="fa fa-plus"></i></button>
        </div>
        <div class="mt-2 mb-3 mb-xl-0">
            <button (click)="eliminarNodo()" type="button" class="btn btn-block btn-danger"><i class="fa fa-close"></i><br>Borrar</button>
        </div>
    </div>
</div>
<div class="row justify-content-end" >
    <div class="mx-2 mt-2 mb-3 mb-xl-0">
        <button type="button" class="btn btn-block btn-dark">Atrás</button>
    </div>
    <div class="mx-2 mt-2 mb-3 mb-xl-0 ">
        <button type="button" class="btn btn-block btn-dark">Siguiente</button>
    </div>
</div>

