// If you want to override variables do it here
@import "variables";

// Import styles
@import "~@coreui/coreui/scss/coreui";

// If you want to add something do it here
@import "custom";

  .tree .tree-node {
    cursor: pointer;
    background-color: #EEE;
    border-radius: 4px;
    margin-bottom: 5px;
  }
  .tree .tree-node-active {
    background-color: #CFD8DC;
    color: black;
  }
  